* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
}

.side-menu {
    position: absolute;
    left: -60px;
}

.cat-list__img {
    object-fit: cover;
    height: 50px;
    transition: .3s all;
    width: 50px;
}

.cat-list__img:hover {
    height: 100px;
    width: 100px;
    box-shadow: 6px 4px 6px rgb(76 66 66);
}

.cat-content__img {
    margin-right: 10px;;
    width: calc(500px - 10px);
    height: 500px;
    object-fit: cover;
    box-shadow: 5px 5px 4px rgb(76 66 66);
}

.cat-content {
    overflow: hidden;
}

.cat-content__main {
    display: flex;
    transition: cubic-bezier(0.4, 0, 1, 1) .3s all;
}

.cat-content__main:hover {
    transform: translate(-50%, 0);
}